body{
    background-color: rgb(168, 209, 245);
    background-image: url(https://media.giphy.com/media/5cnEDRXsyAss8/giphy.gif);
    background-repeat: no-repeat;
    background-size: 1300px;
}
h1{
    text-align: center;
}
a{
    font-size: larger;
    display: grid;
    background-color: aliceblue;
    border: solid blue;
    text-align: center;
}
.para {
    font-weight: bold;
    display: grid;

}

.container{
    display: grid;
    width: 1000px;
    height: 300px;
    text-align: center;
}